<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {%load static%}
    <script src="{% static 'web/js/main.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'web/css/Footer-Basic.css' %}">
    {%load static%}
    <link rel="stylesheet" href="{% static 'web/css/Highlight-Blue.css' %}">
    {%load static%}
    <link rel="stylesheet" href="{% static 'web/css/styles.css' %}">
    <title>RepoPy - Search in Python Repository</title>
  </head>
  <body>
    <div id="main"></div>    
    <!-- <h1>Hello!</h1>
    <p><i>Future page loader</i></p> -->
  </body>
</html>
